<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%=listTitle%> </h1>
    <h1> <%=today%> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach(function(item) { %>
      <form action="/toggle" method="post">
        <div class="item">
          <input type="hidden" name="itemId" value="<%=item._id%>">
          <input type="checkbox" name="done" onChange="this.form.submit()"
            <% if (item.done) { %>
              checked
            <% } %>
          >
          <p><%=  item.name  %></p>
        </div>
        <input type="hidden" name="list" value="<%=listTitle%>">
      </form>
    <% }); %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value="<%=listTitle%>">+</button>
    </form>

    <form class="item" action="/delete" method="post">
      <button id="del" type="submit" name="list" value="<%=listTitle%>">-</button>
      <label for="del">Delete accomplished items</label>
    </form>
  </div>

<%- include("footer") -%>
